global
        daemon
        maxconn 256
        log stdout format raw local0

defaults
        log global
        mode http
        timeout connect 10s
        timeout server 10s
        timeout client 10s

userlist admins
        user admin password $6$m5Vsn1Rc9BMvvT5o$xn28a2fll08CqSDqMHQhFLSxc5Z1/tLJHILmaGVhdCzsIEElD6Um8dwNyyD4u3ysxLPTtBTNy/ilDpwPbvgu80

listen stats
        bind *:8084
        mode http

        stats enable
        stats uri /admin?stats
        stats admin if TRUE
        http-request auth unless { http_auth(admins) }

frontend front-minimal-web-db
    bind *:443 ssl crt /usr/local/etc/haproxy/haproxy.pem

    default_backend back-minimal-web-db

backend back-minimal-web-db
    balance roundrobin
    server APP01 proxy-reverse-host-master:443 maxconn 10 ssl verify none check
    server APP02 proxy-reverse-host-slave01:443 maxconn 10 ssl verify none check
