global
        daemon
        maxconn 256
        log /dev/log local0

defaults
        log global
        mode http
        timeout connect 10s
        timeout server 10s
        timeout client 10s

userlist admins
        user admin password $6$m5Vsn1Rc9BMvvT5o$xn28a2fll08CqSDqMHQhFLSxc5Z1/tLJHILmaGVhdCzsIEElD6Um8dwNyyD4u3ysxLPTtBTNy/ilDpwPbvgu80

listen stats
        bind *:8084
        mode http

        stats enable
        stats uri /admin?stats
        stats admin if TRUE
        http-request auth unless { http_auth(admins) }

frontend minimal-web-db
    bind *:80
    bind *:444 ssl crt /etc/ssl/certs/haproxy.pem

    default_backend minimal-web-db

backend minimal-web-db
    balance roundrobin
    server APP01 localhost:8080 maxconn 10 ssl verify none
    server APP02 localhost:8082 maxconn 10 ssl verify none